// @types
#root {
  .list {
    width: 100%;
    // .listItem {
    //   width: 100%;
    // }
  }
  .card {
    .content {
      .dateSelector {
        margin: 0 0 10px 10px;
      }
      .termSwitch {
        max-width: 250px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
