// @types
#root {
  .none {
    display: none;
  }
  .title {
    margin: 10px 0px;
  }
  .formControl {
    width: 100%;
  }
  .contents {
    width: 100%;
  }
  .card {
    .header {
      padding-left: 23px;
    }
    .content {
      margin-bottom: 10px;
    }
  }
  .panel {
    margin-top: 16px;
  }
  .formGroup {
    width: 100%;
    .btnWrapper {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
