// @types
#root {
  .none {
    display: none;
  }
  .title {
    margin: 10px 0px;
  }
  .formControl {
    width: 100%;
  }
  .contents {
    width: 100%;
  }
  .card {
    .header {
      padding-left: 23px;
    }
    .content {
      margin-bottom: 10px;
    }
  }
  .panel {
    margin-top: 16px;
  }
  .formGroup {
    width: 100%;
    .btnWrapper {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .detail {
    width: 100%;
    .listItem {
      width: 100%;
      padding: 8px 0;
      $width-action: 45px;
      $width-record: calc(100% - #{$width-action});
      .record {
        width: $width-record;
        .text {
          width: 100%;
          padding-right: 5px;
        }
      }
      .action {
        width: $width-action;
      }
    }
  }
}
