@import '../../../styles/variables';

// @types
#container {
  width: $width-number-keyboard;
  * {
    width: 100%;
  }
  .table {
    border-collapse: collapse;
    background-color: gray;
    .row {
      .data {
        border: 1px solid #000;
        width: $width-number-keyboard-key;
        height: $height-number-keyboard-key;
        font-weight: bold;
        .button {
          color: #000;
          height: 50px;
        }
      }
    }
  }
}
