// @types
#container {
  max-width: 250px;
  * {
    width: 100%;
  }
  .table {
    background-color: gray;
    .row {
      .data {
        border: 1px solid #000;
        width: calc(100% / 4);
        font-weight: bold;
        .button {
          color: #000;
          height: 50px;
        }
      }
    }
  }
}
