$width-input-date: 150px;
$width-arrow-button: 40px;
$width-button: 100px;

// @types
#container {
  max-width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input {
    width: calc(100% - #{$width-button});
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .arrowButton {
    width: $width-arrow-button;
  }
  .inputDate {
    width: $width-input-date;
  }
  .side {
    width: $width-button;
  }
}
