$width-input-date: 160px;
$width-arrow-button: 60px;
$width-button: calc(100% - #{$width-arrow-button} * 2 - $width-input-date);

// @types
#container {
  width: 100%;
  display: flex;
  align-items: center;

  .arrowButton {
    width: $width-arrow-button;
  }
  .inputDate {
    width: $width-input-date;
  }
  .button {
    width: $width-button;
  }
}
