@import '../../../styles/variables';

#container {
  height: $height-header;
  flex-direction: row !important;
  justify-content: space-between;
  .right {
    justify-content: flex-end;
    .username {
      padding: 3px 3px 0;
    }
  }
}
