// @types
@import '../../../styles/_variables';

$padding-top: $height-header + 5px;

#template {
  background-color: $bg-color;
  .container {
    padding: $padding-top 5px 5px;
  }
}

.currentValue {
  max-width: 150px;
  top: 100px;
  right: 10px;
  position: absolute;
  word-wrap: break-word;
  z-index: 10000;
  background-color: lavender;
}
